.container {
    width: 100%;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.listSection, .notListSection {
    width: 538px;
}

.notListSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

