.container {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10%;
    margin: 0;
}

.listSection, .notListSection {
    width: 50%;
    height: 100%;
    margin: 0;
    background-color: white;
}

.listSection {
    width: 400px;
    height: 100%;
    left: 0; 
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
}

.notListSection { 
    width: 70%;
}

