@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: gray;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

main, .main, .pageContainer {
  width: 100%;
  height: 150%;
  padding-top: 120px; /* header分 */
  padding-bottom: 120px; /* footer分 */
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: auto;
}

footer {
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
  margin:auto;
  padding: auto;
}

/* スクロールバーがfooterに重ならないように */
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: white;
}



