.pageContainer {
    width: 100vw;
    height: 100vh;
    margin: 40px auto;     /* 上下40px、左右自動で中央寄せ */
    padding: 50px; 
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

.pageContainer > * {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
}

